@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #353535; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464; 
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}